# dependencies
node_modules

# testing
/coverage

# next.js
/.next/
/out/
.idea/

# production
/build
/ipfsNft
/sol

# misc
.DS_Store
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*